# Ignore the virtual environment
venv/

# Ignore the raw data CSVs but ALLOW the folder and JSON files
data/**/*.csv
output/
raw_playoff_data.csv
scored_playoff_data.csv

# Ignore Python cache files
__pycache__/
*.pyc

# Ignoring saved ML models 
models/
*.pkl

# Ignore YouTube authentication cookies
*cookies.txt