# Ignore the virtual environment
venv/

# Ignore the raw data and output graphs 
data/
output/
raw_playoff_data.csv
scored_playoff_data.csv

# Ignore Python cache files
__pycache__/
*.pyc

# Ignoring saved ML models 
models/
*.pkl